.SaveCheck {
    font-size:250%;
}
.SaveBookmark {
    font-size:250%;
}


.SaveBookmark:hover {
    color:green;
}

.SaveCheck:hover {
    color:red;
}

.ListingImg {
    height: 70vh;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width:900px) {
    .ListingImg {
        height: 50vh;
        object-fit: cover;
        width: 100%;
        
    }
}
    
@media screen and (max-width:600px) {
    .ListingImg {
        height: 40vh;
        object-fit: cover;
        width: 100%;
    }
}